
/*TUTORIAL MENU CSS*/
.tutorial-side-menu{
	position: fixed;
	top: 0;
	left: -350px;
	width: 350px;
	height: 100%;
	background-color: #F7F7F7;
	z-index: 105;
	padding: 50px 15px 15px 15px;
	overflow-y: scroll;
}

.active{
	left: 0;
}

.selected-supervisor-status[value*="Yes"]{
	background-color: #5cb85c;
}

.selected-supervisor-status[value*="No"]{
	background-color: #D9534F;
}

.selected-supervisor-status[value*="Yes"]:focus{
	background-color: #5cb85c;
}

.selected-supervisor-status[value*="No"]:focus{
	background-color: #D9534F;
}

.tutorial-menu-close-btn{
	position: absolute;
	top: 0px;
	right: 0;
	margin: 5px;
	height: 35px;
	width: 35px;
	padding: 0px;
}

.tutorial-menu-show-btn{
	position: fixed;
	top: 50px;
	left: 0;
	width: 50px;
	height: 50px;
	z-index: 104;
	padding: 0px;
	display: none;
}

.close-icon{
	color: white;
	font-size: 2em !important;
}

.show-icon{
	color: white;
	font-size: 2em !important;
}
.tutorial-item-btn{
	width: 90%;
	margin: 5px 30px;
}
/*
.tutorial-item-btn:hover{
	background-color: #F0AD4E;
}*/

.arrow{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.tutorial-info-box{
	position: fixed;
	top: 50px;
	left: calc(50% - 300px);
	width:600px;
	/*height: 250px;*/
	z-index: 8;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #DA615D;
	border-radius: 5px;
}

.tutorial-background{
	background-color: rgba(0,0,0,0.4);
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 6;
    display: none;
}

.browser-warning{
	color: red;
	margin-bottom: 20px;
}

.warning{
	font-size: 2em;
	color: red;
	margin: auto
}

.modal-backdrop{
	z-index: 5 !important;
}

#tutorial-close-btn, #tutorial-next-btn{
	margin: 10px;
}
#tutorial-close-btn{
	width: 90%;
	margin: 5px 30px;
}

.share-template{
	margin: 15px;
	padding-left: 15px;
	border: 1px solid black;
	border-radius: 10px;
}

.comments-warning{
	color: red;
}

.current-file-name{
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}

body{
	background-color: #F7F7F7;
}

.logo{
	width: 50%;
	margin: auto;
}

.page-header{
	font-weight: bold;
	font-size: 2.2em;
}

.makePDFModalHeader{
	font-size: 2em;
	color: red;
}

.top-bar{
	position: fixed;
	z-index: 3;
	margin: 0;
	width: 100%;
	background-color: grey;
	padding: 5px 20px;
}

@media (min-width: 768px){
	.top-bar{
		padding: 0px calc((100% - 750px) / 2);
	}
}

@media (min-width: 992px){
	.top-bar{
		padding: 0px calc((100% - 970px) / 2);
	}
}

@media (min-width: 1200px){
	.top-bar{
		padding: 0px calc((100% - 1170px) / 2);
	}
}

.menu-btn{
	margin-left: 15px;
}

textarea{
	resize: vertical;
}


.error{
	color: red !important;
}

.review-period-section{
	display: flex;
	flex-wrap: wrap;
}

.review-period-label{
	font-weight: bold;
	font-size: 1.5em;
}

.form{
	margin-top: 25px;
	margin-bottom: 150px;
	border: 1px solid grey;
	border-radius: 4px;
	padding: 35px;
	background-color: #fff;
}

.create-pdf-error{
	font-size: 1.2em;
	color: red;
}

.year-input{
	max-width: 35%;
}

.dateRangePicker{
	float: right !important;
}

.rating-label{
	float: left;
	width: 100%;
}

.selected-rating, .selected-position-type{
	background-color: #5cb85c;
}

.rating-btn:focus, .position-btn:focus{
	background-color: #5cb85c;
}

.rating-btn{
	width: 20% !important;
	padding: 4px 7px !important;
}

.position-btn{
	border-radius: 4px !important;
}

.btn-group{
	width: 100%;
}

.left-btn{
	border-radius: 4px 0px 0px 4px !important; 
}

.job-function{
	margin-bottom: 25px;
}

.day, .prev, .next:hover{
	cursor: pointer;
}

.incomplete{
	border: 2px solid red !important;
	/*border-color: red !important;*/
}

.section-close-btn{
	font-size: 1.2em;
	padding: 3px 8px;
	margin-bottom: 15px;
}

.project{
	margin-bottom: 25px;
}

.form-header{
	margin-top: 50px;
}

.development-plan{
	margin-bottom: 25px;
}

.attributes-container{
	margin-top: 25px;
}

.attribute-label-div{
	text-align: right;
}

.attribute, .supervisor-attribute{
	margin: 5px 0px;
}

#supervisor-attributes-container{
	display: none;
}

.attribute-glyph-div{
	position: absolute;
    top: 0;
    right: -5px;
}

.attribute-glyph{
	color: #5cb85c;
	font-size: 1.2em;
	z-index: 2;
}

.attribute-glyph:hover{
	cursor: pointer;
}

.instruction{
	color: #D9534F;
	font-weight: bold;
}

/*RAISED DIV CSS*/
.raised-div
{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}
